 .homeinput {
     margin-left: 10%;
    width: 80%;
    height:60px;
}

.formholder {
    align-items: center;
    margin-top: 5%;
    width: 80%;
}
.homesearchtitle {
    font-weight: bolder;
    font-size: 40px;
    text-shadow: 5px 5px 10px rgba(85, 107, 47, 0.966); 
}

.botonesubmithome {
    margin-left: 6px;
    padding: 0.6rem;
    outline: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    color: black;
    background-color:rgba(100, 116, 75, 0.849);
}

